@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: var(--azulescuro);
}

:root {
  --azulclaro: #7EA8BE;
  --azullink: #447b99;
  --azulescuro: #28536B;
  --azulescuro2: #6f99af;

  --peso1: #447b9950;
  --peso2: #447b9970;
  --peso3: #447b998a;
  --peso4: #447b99b0;
  --peso5: #447b99dc;
  --peso6: #447b99;
} 



body {
  background: var(--azulclaro);
  background-image: linear-gradient(-45deg,transparent 75%, var(--azulescuro2) 75%),
  linear-gradient(45deg,transparent 75%, var(--azulescuro2) 75%),
  linear-gradient(-135deg,transparent 75%, var(--azulescuro2) 75%),
  linear-gradient(135deg,transparent 75%, var(--azulescuro2) 75%);
  background-size: 4rem 4rem;
  background-position: 2rem 0, 2rem 0, 0 0, 0 0;
}

main {
  max-width: 800px;
  width: 90%;
  margin: 3em auto;
  background-color: white;
  padding: 2em;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.164);
  border-radius: 7px;
}

#logo {
  width: 100%;
  max-width: 400px;
  display: block;
  margin: auto;
  margin-bottom: 1.5em;
}

main p {
  margin-bottom: 1em;
}

/* TABELA */

table {
  margin: auto;
  border-spacing: 8px;
  width: 100%;
  margin-bottom: 2em;
}

.valortabela {
  border: 1px solid var(--azulescuro);
  border-radius: 100px;
}

.resultado {
  background-color: var(--azulescuro);
  color: white;
  padding: .2em;
  border-radius: 100px;
  transition: .8s;
}

th {
  background-color: var(--azulescuro);
  color: white;
  padding: .75em .2em;
  border-radius: 7px;
}

.resultado--res1 {
  background-color: var(--peso1);
 }

 .resultado--res2 {
  background-color: var(--peso2);
 }

 .resultado--res3 {
  background-color: var(--peso3);
 }

 .resultado--res4 {
  background-color: var(--peso4);
 }

 .resultado--res5 {
  background-color: var(--peso5);
 }

 .resultado--res6 {
  background-color: var(--peso6);
 }

th:hover, input:hover, input[type="number"]:focus, .resultado:hover  {
  border-radius: 7px;
  transition: .5s;
  animation-timing-function: ease-out;
}

td {
  width: 50%;
  padding: .2em;
  text-align: center;
}

tr {
  margin: 2em;
}



/* INPUTS */

label,
input {
  display: block;
}

label {
  font-size: .8rem;
}

input {
  margin-top: 0.25em;
  margin-bottom: 1.5em;
  width: 100%;
  padding: 0.35em 0.25em;
  text-indent: 15px;
  border: 1px solid var(--azulescuro);
  border-radius: 100px;
  transition: .8s;
}

input:focus {
 outline-color:  var(--azullink); 
}

input[type="button"] {
  background-color: var(--azullink);
  color: white;
  font-weight: 900;
  
  border: transparent;
  padding: 0.5em 0.25em;
}

input[type="button"]:hover {
    background-color: var(--azulescuro);
}

input[type="button"]:active {
    background-color: var(--azullink);
}

/* FOOTER */

footer {
  max-width: 800px;
  width: 90%;
  margin: 2em auto;
  text-align: center;
}

footer p {
  color: white;
  font-size: .8rem;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.685) ;
}

.texto {
  background-color: var(--azulescuro);
  padding: 1em;
  color: white;
}

.texto-erro {
  background-color: red;
  padding: 1em;
  color: white;
}