@charset "UTF-8";

* {
    margin: 10px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}

menu {
    display: none;
}

main::after {
    content: "Texto escrito por Denner Rubio, 2023. Visite o site www.sitegenerico.com para saber mais.";
}