@charset "UTF-8";

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

* {
  margin: 0;
  padding: 0;
}

img {
  width: 100vw;
}

#botao {
  display: flex;
  height: 60px;
  width: 100vw;
  background-color: red;
  color: white;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}
