body{
    background-image: url(imagens/wallpaper001.jpg);
}

.quadrado {
    display: inline-block;
    width: 300px;
    height: 300px;
    border: 2px solid black;
    border-radius: 10px;
}

#qd1 {
    background-color: aqua;
}

#qd2 {
    background-image: radial-gradient(red, blue);
}

#qd3 {
    background-image: url(imagens/pattern001.png);
}