@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

body {
    background-image: linear-gradient(rgb(80, 80, 80), rgb(36, 36, 36));
    background-attachment: fixed;
    
}
main {
    background-color: white;
    width: 60%;
    border-radius: 10px;
    padding: 25px;
    margin: auto;
    margin-top: 25%;  
    margin-bottom: 25%;
    box-shadow: 10px 10px 15px black;
}

h1 {
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 2.5em;
}

h2 {
    font-size: 1.25em;
}

h1, h2, .texto-fundo {
    color: rgb(31, 61, 163);
    text-shadow: 2px 2px 2px rgba(88, 88, 88, 0.315);
    margin-top: 0%;
}

p {
    text-align: justify;
}

.texto-fundo {
    text-align: center;
    font-weight: bold;
    font-size: 0.75em;
    margin-top: 3%;
    margin-bottom: 0%;
}

hr {
    background-color: rgb(224, 224, 224);
    border: 0;
    height: 1px;
}