@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: var(--preto);
    box-sizing: border-box;
}

:root {
    --marrom1: #A99985;
    --marrom2: #DAD2BC;
    --azul: #70798C;
    --branco: #F5F1ED;
    --preto: #0E1116;
}

body {
    display: flex;
    background-image: linear-gradient(var(--marrom2), var(--marrom1));
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

main {
    background-color: var(--branco);
    width: 280px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.39);
}

div#imagem {
    background-image: url(../images/loginimage.jpg);
    height: 200px;
    background-size: cover;
    background-position: center bottom;
}

div#formulario {
    padding: 10px;
}

div#formulario > h1 {
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--azul);
}

div#formulario > p {
    font-size: .85rem;
    font-weight: 300;
}
