@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

:root {
  --fundo: #23424a;
  --fundo2: #136c72;
  --botao: #38cfd9;
  --fonte: #072a2d;
}

.color_back1 {
  background-color: var(--fundo);
}

.color_back2 {
  background-color: var(--fundo2);
}

.img_config {
  max-width: 100%;
}

.img_config--logo {
  width: 50px;
}

.color_white {
  color: white;
}

.color_fundo2 {
  color: var(--fundo2);
}

.navegacao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 1em 0;
}

.navegacao_menu {
  display: flex;
  list-style-type: none;
  column-gap: 2em;
  text-transform: uppercase;
}

.navegacao_link {
  text-decoration: none;
}

.navegacao_link--sign {
  background-color: white;
  padding: 0.25em 1em;
  border-radius: 100px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 7em 0;
}

.container_conteudo {
  width: 55%;
}

.container_conteudo h1 {
  color: white;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 0.5em;
}

.container_texto {
  font-size: 1.3rem;
  margin-bottom: 2.5em;
}

.container_texto--align {
  text-align: center;
}

.container_direita {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.container_direita--padding {
  padding: 4em;
}

.container_subtitulo {
  margin-bottom: 0.7em;
  font-size: 2.25rem;
  font-weight: 900;
}

.container_link {
  color: var(--fonte);
  white-space: nowrap;
  font-size: 1.3rem;
  font-weight: 700;
  text-decoration: none;
  background-color: var(--botao);
  padding: 1rem 3em;
  border-radius: 100px;
}
