@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
 font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
 font-size: 16px;
 margin: 0px;
 padding: 0px;
}

body {
    background-image: url(imagens/background.jpg);
    background-attachment: fixed;
}

/* CONFIGURAÇÕES DO HEADER */

header {
    background-image: linear-gradient(rgb(88, 80, 80), black);
    height: 200px;
}

header > h1 {
    font-size: 3.5em;
    font-weight: 900;
    text-align: center;
    color: white;
    padding-top: 30px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.452);
}

header > p {
    font-size: 1.25em;
    font-weight: 600;
    text-align: center;
    color: white;
    margin-top: 10px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.452);
}

nav {
    margin-top: 5px;
    padding: 10px;
}
a {
    text-decoration: none;
    color: white;
    margin-left: 15px;
    margin-right: 15px;
}

/* CONFIGURAÇÕES DO MAIN */

main {
    background-color: white;
    width: 75%;
    padding: 40px;
    margin: auto;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.452);
}

#videoyoutube {
    background-color: #a00010;
    width: 75%;
    padding: 40px;
    margin: auto;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.452);
}

#secaofinal {
    background-color: white;
    width: 75%;
    padding: 40px;
    margin: auto;
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.452);
}

.textofocado {
    font-weight: bolder;
    color: #a00010;
}

.imagensconfig {
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.videoconfig {
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    aspect-ratio: 16 / 9;
    width: 100%;
}

.linkmain {
    font-weight: bold;
    color: #a00010;
    margin: 0px;
}

.linkmain:hover {
    font-weight: bold;
    text-decoration: underline;
    color: #a00010;
}

section > p {
    text-indent: 30px;
    text-align: justify;
}

section > h2 {
    font-size: 3em;
    margin-bottom: 15px;

}

section > h3 {
    font-size: 2em;
    margin-bottom: 15px;
    margin-top: 15px;
    background-image: linear-gradient(to right, #a00010 , #a0001017, white);
    text-indent: 10px;
    color: white;
    text-shadow: 2px 2px 2px #a000109a;
}

/* CONFIGURAÇÕES DO FOOTER */

footer {
    background-color: rgb(32, 32, 32);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > p {
    color: white;
    text-align: center;
}