@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
 font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
 font-size: 16px;
 margin: 0px;
 padding: 0px;
}

:root {
    --cor01: #a00010; 
    --cor02: #d67781;
    --cor03: rgb(32, 32, 32);
    --cor04: rgb(82, 82, 82);
    --sombra: rgba(0, 0, 0, 0.452);
    --degrade: #a0001017;
}

body {
    background-image: url(imagens/background.jpg);
    background-attachment: fixed;
}

/* CONFIGURAÇÕES DO HEADER */

header {
    background-image: linear-gradient(var(--cor04), var(--cor03));
    min-height: 150px;
}

header > h1 {
    font-size: 3.5em;
    font-weight: 900;
    text-align: center;
    color: white;
    padding-top: 30px;
    text-shadow: 3px 3px 3px var(--sombra);
}

header > p {
    font-size: 1.25em;
    font-weight: 600;
    text-align: center;
    color: white;
    margin-top: 10px;
    padding-bottom: 10px;
    text-shadow: 3px 3px 3px var(--sombra);
}

nav {
    padding: 10px;
    background-color: var(--cor03);
}

a {
    font-size: 0.9em;
    text-decoration: none;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
}

a:hover {
    background-color: var(--cor04);
    padding: 10px;
    transition-duration: 0.5s;
}

/* CONFIGURAÇÕES DO MAIN */

section {
    background-color: white;
    max-width: 1100px;
    min-width: 300px;
    padding: 40px;
    margin: auto;
    box-shadow: 3px 3px 3px var(--sombra);
}

#videoyoutube {
    background-color: var(--cor01);
    max-width: 1100px;
    min-width: 300px;
    padding: 40px;
    margin: auto;
    box-shadow: 3px 3px 3px var(--sombra);
}

#secaofinal {
    background-color: white;
    max-width: 1100px;
    min-width: 300px;
    padding: 40px;
    margin: auto;
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 3px 3px 3px var(--sombra);
}

.textofocado {
    font-weight: bolder;
    color: var(--cor01);
}

.imagensconfig {
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.videoconfig {
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    aspect-ratio: 16 / 9;
    width: 100%;
}

.linkmain {
    font-weight: bold;
    color: var(--cor01);
    margin: 0px;
}

.linkmain:hover {
    font-weight: bold;
    text-decoration: underline;
    color: var(--cor01);
}

article > p {
    text-indent: 30px;
    text-align: justify;
}

article > h2 {
    font-size: 3em;
    margin-bottom: 15px;

}

article > h3 {
    font-size: 2em;
    margin-bottom: 15px;
    margin-top: 15px;
    background-image: linear-gradient(to right, var(--cor01) , var(--degrade), white);
    text-indent: 10px;
    color: white;
    text-shadow: 2px 2px 2px #a000109a;
}

#titulotabela {
    background-color: var(--cor01);
    padding: 12px;
    color: white;
    border-radius: 10px 10px 0px 0px;
    font-weight: 700;
    text-indent: 10px;
    box-shadow: 3px 3px 3px var(--sombra);
}

#tabela {
    background-color: var(--cor02);
    border-radius: 0px 0px 10px 10px;
    padding: 20px;
    margin-bottom: 25px;
    box-shadow: 3px 3px 3px var(--sombra);
}

#tabela > p {
    margin-top: 15px;
    margin-bottom: 15px;
}

ol {
    columns: 2;
    padding-left: 20px;
}

/* CONFIGURAÇÕES DO FOOTER */

footer {
    background-color: var(--cor03);
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > p {
    color: white;
    text-align: center;
}