body{
    background-image: url(imagens/wallpaper002.jpg);
    background-size: cover;
    background-attachment: fixed;
}

main {
    background-color: white;
    max-width: 1000px;
    margin: auto;
    padding: 25px;
}

.quadrado {
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 10px;
}

#qd1 {
    background-color: aqua;
}

#qd2 {
    background-image: radial-gradient(red, blue);
}

#qd3 {
    background-image: url(imagens/pattern001.png);
}

.fundo {
    height: 150px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    background-image: url(imagens/wallpaper002.jpg);
}

#container {
 background-color: cadetblue;
 background-image: url(imagens/target001.png);
 background-size: 100% 100%;
 width: 100%;
 height: 400px;
}

#box {
position: relative;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
background-color: crimson;
background-image: url(imagens/target001.png);
background-size: 100% 100%;
width: 200px;
height: 150px;
}